# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Exclude build directory
Debug/

# Project files
*.atsuo
*.cppproj
*.atsln
doxygen/

*.stackdump
*/nbproject/Makefile-*.mk
*/nbproject/Package-*.bash
*/nbproject/private/*
